<a href="https://colab.research.google.com/github/cantaruttim/Teste_Hipotese/blob/main/TesteHipotese.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import math
from scipy.stats import norm

In [ ]:
dados_originais = np.array([126. , 129.5, 133. , 133. , 136.5, 136.5, 140. , 140. , 140. ,
                            140. , 143.5, 143.5, 143.5, 143.5, 143.5, 143.5, 147. , 147. ,
                            147. , 147. , 147. , 147. , 147. , 150.5, 150.5, 150.5, 150.5,
                            150.5, 150.5, 150.5, 150.5, 154. , 154. , 154. , 154. , 154. ,
                            154. , 154. , 154. , 154. , 157.5, 157.5, 157.5, 157.5, 157.5,
                            157.5, 157.5, 157.5, 157.5, 157.5, 161. , 161. , 161. , 161. ,
                            161. , 161. , 161. , 161. , 161. , 161. , 164.5, 164.5, 164.5,
                            164.5, 164.5, 164.5, 164.5, 164.5, 164.5, 168. , 168. , 168. ,
                            168. , 168. , 168. , 168. , 168. , 171.5, 171.5, 171.5, 171.5,
                            171.5, 171.5, 171.5, 175. , 175. , 175. , 175. , 175. , 175. ,
                            178.5, 178.5, 178.5, 178.5, 182. , 182. , 185.5, 185.5, 189., 192.5])

In [ ]:
# H0 (Hip√≥tese Nula ==> M√©dia = 159.25)
H0_media = np.mean(dados_originais)
H0_media

159.25

In [ ]:
H0_desvio_padrao = np.std(dados_originais)
H0_desvio_padrao

13.65

In [ ]:
dados_novos = dados_originais * 1.03
dados_novos

array([129.78 , 133.385, 136.99 , 136.99 , 140.595, 140.595, 144.2  ,
       144.2  , 144.2  , 144.2  , 147.805, 147.805, 147.805, 147.805,
       147.805, 147.805, 151.41 , 151.41 , 151.41 , 151.41 , 151.41 ,
       151.41 , 151.41 , 155.015, 155.015, 155.015, 155.015, 155.015,
       155.015, 155.015, 155.015, 158.62 , 158.62 , 158.62 , 158.62 ,
       158.62 , 158.62 , 158.62 , 158.62 , 158.62 , 162.225, 162.225,
       162.225, 162.225, 162.225, 162.225, 162.225, 162.225, 162.225,
       162.225, 165.83 , 165.83 , 165.83 , 165.83 , 165.83 , 165.83 ,
       165.83 , 165.83 , 165.83 , 165.83 , 169.435, 169.435, 169.435,
       169.435, 169.435, 169.435, 169.435, 169.435, 169.435, 173.04 ,
       173.04 , 173.04 , 173.04 , 173.04 , 173.04 , 173.04 , 173.04 ,
       176.645, 176.645, 176.645, 176.645, 176.645, 176.645, 176.645,
       180.25 , 180.25 , 180.25 , 180.25 , 180.25 , 180.25 , 183.855,
       183.855, 183.855, 183.855, 187.46 , 187.46 , 191.065, 191.065,
       194.67 , 198.275])

In [ ]:
H1_media = np.mean(dados_novos)
H1_media

164.0275

In [ ]:
H1_desvio_padrao = np.std(dados_novos)
H1_desvio_padrao

14.0595

In [ ]:
H1_n = len(dados_novos)
H1_n

100

In [ ]:
alpha = 0.05

## Teste Z e Teste T

$$Z = \frac{\bar{x} - ùúá}{\frac{œÉ}{\sqrt{n}}}$$

In [ ]:
from statsmodels.stats.weightstats import ztest

In [ ]:
_, p = ztest(dados_originais, dados_novos,
             value = H1_media - H0_media,
             alternative='larger')

In [ ]:
p

0.9999993877283934

In [ ]:
from scipy.stats import ttest_rel

In [ ]:
_, p = ttest_rel(dados_originais, dados_novos)
p

1.3167021402739274e-107

In [ ]:
alpha = 0.01
if p <= alpha:
  print('Hip√≥tese nula rejeitada')
else:
  print('Hip√≥tese alternativa rejeitada')

Hip√≥tese nula rejeitada

### Exerc√≠cio

In [ ]:
dados = np.array([149. , 160., 147., 189., 175., 168., 156., 160., 152.])
dados

array([149., 160., 147., 189., 175., 168., 156., 160., 152.])

In [ ]:
dados_novos = np.array(dados) * 1.03
dados_novos

array([153.47, 164.8 , 151.41, 194.67, 180.25, 173.04, 160.68, 164.8 ,
       156.56])

In [ ]:
from scipy.stats import ttest_rel

In [ ]:
_, p = ttest_rel(dados, dados_novos)
p

4.072922493930081e-10

In [ ]:
alpha = 0.01
if p <= alpha:
  print('Hip√≥tese nula rejeitada')
else:
  print('Hip√≥tese alternativa rejeitada')

Hip√≥tese nula rejeitada

In [ ]:
## Temos 99% de probabilidade de dizer que as alturas s√£o diferentes. Portanto, rejeitamos a H0
## e aceitamos a Hip√≥tese Alternativa (H1)

# Teste X¬≤

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
#tabela = np.array([[30, 20], [22, 28]])
tabela = np.array([[45, 5], [5, 45]])

In [ ]:
tabela

array([[45,  5],
       [ 5, 45]])

In [ ]:
tabela.shape

(2, 2)

In [ ]:
_, p, _, _ = chi2_contingency(tabela)
p

6.190717543917382e-15

In [ ]:
alpha = 0.05
if p <= alpha:
  print('Hip√≥tese nula rejeitada')
else:
  print('Hip√≥tese alternativa rejeitada')

Hip√≥tese nula rejeitada

# Sele√ß√£o de Atributo com testes de Hip√≥teses - univariate SelectFdr
## Utilizado para feature selection por meio de testes de hip√≥teses

Testes estat√≠sticos univariados s√£o aqueles que envolvem uma vari√°vel dependente, por exemplo, teste t ou teste z para compara√ß√£o de m√©dias

Documenta√ß√£o: https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFpr.html#sklearn.feature_selection.SelectFpr

False discovery rate: https://en.wikipedia.org/wiki/False_discovery_rate

Propor√ß√£o esperada de erros do tipo I. Um erro do tipo I √© quando a hip√≥tese nula √© rejeitada incorretamente, ou seja, √© obtido um falso positivo

Erro I: https://www.statisticshowto.datasciencecentral.com/probability-and-statistics/statistics-definitions/type-i-error-type-ii-error-decision/

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectFdr
from sklearn.feature_selection import chi2
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv('ad.data', header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [3]:
dataset.shape

(3279, 1559)

In [4]:
X = dataset.iloc[:, 0:1558].values
X

array([[125.    , 125.    ,   1.    , ...,   0.    ,   0.    ,   0.    ],
       [ 57.    , 468.    ,   8.2105, ...,   0.    ,   0.    ,   0.    ],
       [ 33.    , 230.    ,   6.9696, ...,   0.    ,   0.    ,   0.    ],
       ...,
       [ 23.    , 120.    ,   5.2173, ...,   0.    ,   0.    ,   0.    ],
       [  0.    ,   0.    ,   0.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.    ,  40.    ,   1.    , ...,   0.    ,   0.    ,   0.    ]])

In [5]:
y = dataset.iloc[:, 1558].values
y

array(['ad.', 'ad.', 'ad.', ..., 'nonad.', 'nonad.', 'nonad.'],
      dtype=object)

In [6]:
np.unique(y, return_counts=True)

(array(['ad.', 'nonad.'], dtype=object), array([ 459, 2820]))

In [7]:
naive1 = GaussianNB()
naive1.fit(X, y)
previsoes1 = naive1.predict(X)
accuracy_score(y, previsoes1)

0.7813357731015553

In [9]:
selecao = SelectFdr(chi2, alpha=0.05)
X_novo = selecao.fit_transform(X, y)

In [10]:
X.shape, X_novo.shape

((3279, 1558), (3279, 490))

In [11]:
selecao.pvalues_

array([2.14710304e-268, 0.00000000e+000, 8.98165813e-150, ...,
       6.03353380e-041, 5.63437216e-012, 9.37945775e-002])

In [12]:
len(selecao.pvalues_)

1558

In [13]:
# selecionando as colunas (true)
colunas = selecao.get_support()
colunas

array([ True,  True,  True, ...,  True,  True, False])

In [14]:
indices = np.where(colunas == True)
indices

(array([   0,    1,    2,    5,    9,   11,   14,   20,   21,   26,   31,
          32,   34,   36,   49,   56,   58,   59,   64,   65,   69,   70,
          86,   91,   95,   96,  102,  104,  105,  106,  113,  133,  134,
         139,  155,  158,  163,  167,  172,  175,  180,  181,  183,  185,
         186,  189,  190,  192,  193,  212,  224,  234,  235,  241,  242,
         244,  246,  248,  249,  251,  259,  264,  265,  266,  267,  268,
         269,  270,  274,  276,  278,  287,  290,  293,  298,  304,  307,
         310,  312,  317,  319,  321,  329,  330,  336,  340,  341,  345,
         346,  347,  350,  351,  355,  356,  357,  359,  361,  366,  367,
         369,  370,  371,  372,  377,  381,  386,  388,  389,  398,  405,
         406,  418,  420,  426,  427,  429,  430,  432,  434,  435,  440,
         441,  451,  455,  457,  460,  465,  470,  472,  477,  478,  482,
         486,  508,  511,  518,  521,  528,  530,  532,  533,  540,  542,
         548,  551,  554,  556,  572,  573,  574,  576,  586,  595,  602,
         622,  625,  627,  630,  638,  643,  648,  651,  653,  658,  661,
         663,  666,  683,  688,  694,  700,  703,  704,  709,  711,  720,
         723,  725,  729,  732,  734,  735,  738,  739,  744,  759,  762,
         772,  773,  774,  783,  793,  800,  807,  809,  812,  813,  819,
         825,  828,  840,  848,  849,  860,  863,  869,  870,  873,  874,
         875,  884,  890,  895,  914,  916,  917,  919,  925,  927,  930,
         938,  942,  943,  944,  947,  948,  950,  951,  955,  960,  962,
         963,  967,  968,  969,  972,  973,  976,  977,  983,  986,  987,
         990,  992,  993, 1002, 1006, 1007, 1008, 1009, 1010, 1014, 1015,
        1016, 1017, 1018, 1022, 1024, 1026, 1035, 1040, 1041, 1042, 1043,
        1045, 1046, 1047, 1048, 1049, 1052, 1054, 1055, 1057, 1058, 1059,
        1060, 1061, 1062, 1065, 1073, 1075, 1081, 1084, 1088, 1089, 1090,
        1092, 1097, 1100, 1102, 1108, 1110, 1112, 1115, 1116, 1118, 1122,
        1125, 1128, 1129, 1130, 1131, 1132, 1135, 1136, 1139, 1140, 1141,
        1142, 1143, 1146, 1149, 1150, 1153, 1154, 1157, 1164, 1165, 1167,
        1169, 1174, 1177, 1178, 1180, 1184, 1185, 1188, 1190, 1193, 1195,
        1198, 1200, 1201, 1202, 1203, 1204, 1205, 1207, 1208, 1211, 1213,
        1218, 1219, 1220, 1222, 1223, 1224, 1227, 1229, 1230, 1232, 1233,
        1234, 1235, 1236, 1240, 1243, 1247, 1249, 1250, 1254, 1257, 1258,
        1260, 1262, 1265, 1266, 1267, 1270, 1271, 1276, 1278, 1283, 1284,
        1288, 1289, 1291, 1293, 1294, 1296, 1301, 1302, 1306, 1309, 1311,
        1312, 1313, 1317, 1318, 1319, 1321, 1324, 1326, 1327, 1328, 1330,
        1332, 1335, 1337, 1338, 1339, 1341, 1342, 1344, 1345, 1346, 1347,
        1348, 1351, 1353, 1355, 1357, 1358, 1359, 1361, 1362, 1366, 1367,
        1368, 1373, 1376, 1380, 1382, 1383, 1385, 1391, 1392, 1393, 1394,
        1395, 1398, 1399, 1400, 1402, 1404, 1408, 1410, 1411, 1413, 1416,
        1422, 1423, 1424, 1426, 1427, 1428, 1429, 1431, 1434, 1435, 1436,
        1437, 1442, 1445, 1452, 1454, 1455, 1461, 1462, 1464, 1465, 1469,
        1483, 1484, 1485, 1494, 1500, 1501, 1507, 1510, 1513, 1514, 1515,
        1519, 1521, 1522, 1526, 1527, 1529, 1532, 1533, 1535, 1537, 1539,
        1541, 1544, 1551, 1554, 1555, 1556]),)

In [15]:
naive2 = GaussianNB()
naive2.fit(X_novo, y)
previsoes2 = naive2.predict(X_novo)
accuracy_score(y, previsoes2)

0.9701128392802684